
#time-control {
  width: 560px;
  margin: auto;
}

#volume-control {
  width: auto;
  margin: auto;
}

#volume-control table {
  width: 625px;
  margin: auto;
}

#volume-control td {
  padding: 0px;
  text-align: center;
}

#buttons {
  margin-top: 20px;
}

.btn{
  background-color: #e91e63
}

.btn-active {
  background-color: #ed4a82 !important
}
.btn:hover, .btn:active, .btn:focus {
  background: #eb3472 !important
}
