.App {
  text-align: center;
}

nav {
    height: 75px;
    line-height: 75px;
    background-color: black;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 75px;
    line-height: 75px;
}

nav .button-collapse i {
    height: 75px;
    line-height: 75px;
}

nav .brand-logo {
    font-size: 1.6rem;
    position: absolute;
    left: 10px;
    vertical-align: middle;
}

@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 75px;
        line-height: 75px;
    }
}
